<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Election Peak | A vigilant voter writes the future of the school.</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage - v4.7.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }

        setTimeout("preventBack()", 0);

        window.onunload = function () { null };
    </script>
<!--  <script type="text/javascript">-->
<!--        window.history.forward();-->
<!--        function noBack() {-->
<!--            window.history.forward();-->
<!--        }-->
<!--    </script>-->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Election Peak</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid" style="transform:translate(-425%,0%);"></a>
      <!-- <a href="index_doc.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/candidates">Candidates</a></li>
<!--          <li><a class="nav-link scrollto" href="#services">Services</a></li>-->
<!--          <li><a class="nav-link scrollto o" href="#portfolio">Portfolio</a></li>-->
<!--          <li><a class="nav-link scrollto" href="#team">Team</a></li>-->
<!--          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>-->
<!--          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="#">Drop Down 1</a></li>-->
<!--              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Drop Down 2</a></li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
          <li><a class="getstarted scrollto" href="/admin">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>| Election Peak | </h1>
          <h1>Election the only Solution.</h1>
          <h2>Choose your candidate.</h2>
<!--          <h2>Elections provide a way for the students to choose their leaders. They do so by casting their vote in favour of the candidate whose views appeal to them. This ensures that the will of the students is reflected in the elected candidates.</h2>-->
        </div>
      </div>
      <div class="text-center">
        <a href="#candit" class="btn-get-started scrollto">Candidates</a>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Elect a leader</h2>
          <p>The first duty of a man is to think for himself. </p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
             Election is a mechanism by which people choose their representatives at regular intervals and change them if they wish to do so.
              They can choose who will form the student committee and take major decisions for them.
              They can choose a leader who shares the same ideology as them to improve their lives in school.

            </p>
            <ul>

              <li><i class="ri-check-double-line"></i> A vote gives a student a voice.</li>
              <li><i class="ri-check-double-line"></i> Every vote has a major direct impact on the activites held through out the year.</li>
              <li><i class="ri-check-double-line"></i> Simulates real life elections.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Elections provide a way for the students to choose their leaders.
              They do so by casting their vote in favour of the candidate whose views appeal to them.
              This ensures that the will of the students is reflected in the elected candidates.
            </p>
<!--            <a href="#" class="btn-learn-more">Learn More</a>-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Team Section ======= -->
    <section id="candit" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Head Boy</h2>
          <p>Please select a candidate from below for the post of head boy.</p>
        </div>

        <div class="row">

<!--            SchoolCaptain-->
<!--EndOfSchoolCaptain            -->

        </div>
      </div>
    </section><!-- End Team Section -->

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

<form  action="{{ url_for('add')}}" method="post" style="column-width: auto;">
      <div class="section-title">
          <h2>Head Boy</h2>
                <h4>No. Of Votes Placed: {{ no_vot }} </h4>
          <p>Please select a candidate for the post of HEAD BOY.</p>
        </div>
        <div class="row mt-5">
             <div class="table-responsive" data-pattern="priority-columns">

        <table  class="table table-bordered table-hover" style="text-align: center;vertical-align: center;height:0;">
<!--          <caption class="text-center">Please select you candidate and click on the <a  target="_blank"> Submit</a> button below</caption>-->
          <thead>
            <tr>
              <th>Candidate</th>
              <th data-priority="1">Name</th>
              <th data-priority="2">Select</th>
            </tr>
          </thead>
          <tbody>
<!--          Each <tr></tr> tag consists of the data for each condidate -->

<!--Ballot            -->
<!--EndOfBallot          -->


          </tbody>
        </table>
                 </section>
      <!-- ======= Team Section ======= -->
    <section id="candit" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Deputy Head Boy</h2>
          <p>Please select a candidate from below for the post of deputy head boy.</p>
        </div>

        <div class="row">

<!--DeputyHeadBoy-->
<!--EndOfDeputyHeadBoy-->

        </div>
      </div>
    </section><!-- End Team Section -->

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

<form  action="{{ url_for('add')}}" method="post" style="column-width: auto;">
      <div class="section-title">
          <h2>Deputy Head Boy </h2>
                 <h4>No. Of Votes Placed: {{ no_vot }} </h4>
          <p>Please select a candidate for the post of DEPUTY HEAD BOY.</p>
        </div>
        <div class="row mt-5">
             <div class="table-responsive" data-pattern="priority-columns">

        <table  class="table table-bordered table-hover" style="text-align: center;vertical-align: center;height:0;">
<!--          <caption class="text-center">Please select you candidate and click on the <a  target="_blank"> Submit</a> button below</caption>-->
          <thead>
            <tr>
              <th>Candidate</th>
              <th data-priority="1">Name</th>
              <th data-priority="2">Select</th>
            </tr>
          </thead>
          <tbody>
<!--          Each <tr></tr> tag consists of the data for each condidate -->

<!--BallotDHB-->
<!--EndOfBallotDHB          -->

          </tbody>
        </table>
                 </section>


               <section class="team section-bg" style="margin-top:10%">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Head Girl</h2>
          <p>Please select a candidate from below for the post of school head girl.</p>
        </div>

        <div class="row">

<!--            Vice Captain-->
<!--EndOfViceCaptin            -->

        </div>


      </div>
    </section><!-- End Team Section -->



      </div>
          <div class="section-title" style="margin-top:10%">
          <h2>Head Girl </h2>
                              <h4>No. Of Votes Placed: {{ no_vot }} </h4>
          <p>Please select a candidate for the post of HEAD GIRL.</p>
        </div>
        <div class="row mt-5">
             <div class="table-responsive" data-pattern="priority-columns">

        <table  class="table table-bordered table-hover" style="text-align: center;vertical-align: center;height:0;">
<!--          <caption class="text-center">Please select you candidate and click on the <a  target="_blank"> Submit</a> button below</caption>-->
          <thead>
            <tr>
              <th>Candidate</th>
              <th data-priority="1">Name</th>
              <th data-priority="2">Select</th>
            </tr>
          </thead>
          <tbody>

<!--          ballot2-->
<!--EndOfBallot2          -->

          </tbody>

        </table>
      </div>
</section>

            <section class="team section-bg" style="margin-top:10%">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Deputy Head Girl</h2>

          <p>Please select a candidate from below for the post of deputy head girl.</p>
        </div>

        <div class="row">

<!--DeputyHeadGirl-->
<!--EndOfDeputyHeadGirl-->

        </div>


      </div>
    </section><!-- End Team Section -->



      </div>
          <div class="section-title" style="margin-top:10%">
          <h2>Deputy Head Girl</h2>
                              <h4>No. Of Votes Placed: {{ no_vot }} </h4>
          <p>Please select a candidate for the post of DEPUTY HEAD GIRL.</p>
        </div>
        <div class="row mt-5">
             <div class="table-responsive" data-pattern="priority-columns">

        <table  class="table table-bordered table-hover" style="text-align: center;vertical-align: center;height:0;">
<!--          <caption class="text-center">Please select you candidate and click on the <a  target="_blank"> Submit</a> button below</caption>-->
          <thead>
            <tr>
              <th>Candidate</th>
              <th data-priority="1">Name</th>
              <th data-priority="2">Select</th>
            </tr>
          </thead>
          <tbody>

<!--BallotDeputyHeadGirl-->
<!--EndBallotDeputyHeadGirl-->

          </tbody>

        </table>
      </div>
</section>

           <section class="team section-bg" style="margin-top:10%">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>School Sports Captain</h2>
          <p>Please select a candidate from below for the post of school sports captain.</p>
        </div>

        <div class="row">

<!--            SportCaptain-->
<!--EndOfSportsCaptin            -->

                </div>
    </section>
          </div>
          <div class="section-title" style="margin-top:10%">
          <h2>School Sports Captain </h2>
                              <h4>No. Of Votes Placed: {{ no_vot }} </h4>
          <p>Please select a candidate for the post of SCHOOL SPORTS CAPTAIN.</p>
        </div>
        <div class="row mt-5">
             <div class="table-responsive" data-pattern="priority-columns">

        <table  class="table table-bordered table-hover" style="text-align: center;vertical-align: center;height:0;">
          <caption class="text-center">Please select you candidate and click on the <a  target="_blank"> Submit</a> button below</caption>
          <thead>
            <tr>
              <th>Candidate</th>
              <th data-priority="1">Name</th>
              <th data-priority="2">Select</th>
            </tr>
          </thead>
          <tbody>

<!--          BALLOT3-->
<!--EndOfBallot3          -->

                      </tbody>

        </table>
      </div>



<div style="margin-left:45%">

<button type="submit" class="btn boxed-btn"  style=" border: none;
											  background-color: #4169E1	;
											  padding: 15px 30px;
											  cursor: pointer;
											  display: inline-block;
											  border-radius: 50px;
											  color: white;

											" >Submit</button>

          </div>


</form>
        <script>
          const button = document.querySelector('.button');
const submit = document.querySelector('.submit');

function toggleClass() {
	this.classList.toggle('active');
}

function addClass() {
	this.classList.add('finished');
}

button.addEventListener('click', toggleClass);
button.addEventListener('transitionend', toggleClass);
button.addEventListener('transitionend', addClass);

        </script>
      </div>

      </div>
    </section><!-- End Contact Section -->


    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
<!--          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
        </div>

        <div>

          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62203.860710935616!2d77.63737185619526!3d12.988391706199655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae172ff41a8d9b%3A0x579ddbfe8e3e88e3!2sRoyale%20Concorde%20International%20School!5e0!3m2!1sen!2sin!4v1655361915719!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>6th B Main Rd, HRBR Layout 2nd Block, HRBR Layout, Kalyan Nagar, Bengaluru, Karnataka 560043</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>	info@rcis.in</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 80 2543 5454</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">


          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Election Peak</h3>
            <p>
              6th B Main Rd, <br>
              Kalyan Nagar, Bengaluru 560043<br>
              Karnataka, India <br><br>
              <strong>Phone:</strong> +91 80 2543 5454<br>
              <strong>Email:</strong> info@rcis.in<br>
            </p>
          </div>

<!--          <div class="col-lg-2 col-md-6 footer-links">-->
<!--            <h4>Useful Links</h4>-->
<!--            <ul>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>-->
<!--              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>-->
<!--            </ul>-->
<!--          </div>-->

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Candidates</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/admin">Admin Login</a></li>
            </ul>
          </div>

<!--          <div class="col-lg-4 col-md-6 footer-newsletter">-->
<!--            <h4>Join Our Newsletter</h4>-->
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
<!--            <form action="" method="post">-->
<!--              <input type="email" name="email"><input type="submit" value="Subscribe">-->
<!--            </form>-->
<!--          </div>-->

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          <strong><span>Election Peak</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
          Designed by <a href="#">Adrusht Shetty</a>
        </div>
      </div>
<!--      <div class="social-links text-center text-md-right pt-3 pt-md-0">-->
<!--        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
<!--        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
<!--        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
<!--        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
<!--      </div>-->
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>
